#  3. Print first n rows of dataframe

In [115]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [116]:
iris = pd.DataFrame(datasets.load_iris().data)

In [83]:
type(iris)

pandas.core.frame.DataFrame

In [84]:
iris.head(8)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2
5  5.4  3.9  1.7  0.4
6  4.6  3.4  1.4  0.3
7  5.0  3.4  1.5  0.2

# 2. Describe dataset using describe function

In [85]:
iris.describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

# 4. See the number of observations in each dataset

In [86]:
iris.count()

0    150
1    150
2    150
3    150
dtype: int64

# 5. See the number of columns in each dataset

In [87]:
len(iris.columns)

4

# 6. Print the name of columns

In [103]:
iris.columns.values.tolist()

[0, 1, 2, 3]

# 8. Print certain rows by using filter

In [104]:
iris[iris[1] > 4]

      0    1    2    3
15  5.7  4.4  1.5  0.4
32  5.2  4.1  1.5  0.1
33  5.5  4.2  1.4  0.2

# 9. Sort by name of a column

In [92]:
iris.sort_values(by = 2)

       0    1    2    3
22   4.6  3.6  1.0  0.2
13   4.3  3.0  1.1  0.1
14   5.8  4.0  1.2  0.2
35   5.0  3.2  1.2  0.2
36   5.5  3.5  1.3  0.2
40   5.0  3.5  1.3  0.3
38   4.4  3.0  1.3  0.2
42   4.4  3.2  1.3  0.2
2    4.7  3.2  1.3  0.2
41   4.5  2.3  1.3  0.3
16   5.4  3.9  1.3  0.4
17   5.1  3.5  1.4  0.3
45   4.8  3.0  1.4  0.3
33   5.5  4.2  1.4  0.2
28   5.2  3.4  1.4  0.2
47   4.6  3.2  1.4  0.2
49   5.0  3.3  1.4  0.2
0    5.1  3.5  1.4  0.2
4    5.0  3.6  1.4  0.2
1    4.9  3.0  1.4  0.2
12   4.8  3.0  1.4  0.1
6    4.6  3.4  1.4  0.3
8    4.4  2.9  1.4  0.2
34   4.9  3.1  1.5  0.1
10   5.4  3.7  1.5  0.2
32   5.2  4.1  1.5  0.1
31   5.4  3.4  1.5  0.4
15   5.7  4.4  1.5  0.4
27   5.2  3.5  1.5  0.2
9    4.9  3.1  1.5  0.1
..   ...  ...  ...  ...
139  6.9  3.1  5.4  2.1
148  6.2  3.4  5.4  2.3
137  6.4  3.1  5.5  1.8
112  6.8  3.0  5.5  2.1
116  6.5  3.0  5.5  1.8
136  6.3  3.4  5.6  2.4
140  6.7  3.1  5.6  2.4
128  6.4  2.8  5.6  2.1
134  6.1  2.6  5.6  1.4
103  6.3  2.9  5.6  1.8
132  6.4  2.8  5.6  2.2
144  6.7  3.3  5.7  2.5
120  6.9  3.2  5.7  2.3
124  6.7  3.3  5.7  2.1
108  6.7  2.5  5.8  1.8
129  7.2  3.0  5.8  1.6
104  6.5  3.0  5.8  2.2
102  7.1  3.0  5.9  2.1
143  6.8  3.2  5.9  2.3
100  6.3  3.3  6.0  2.5
125  7.2  3.2  6.0  1.8
130  7.4  2.8  6.1  1.9
135  7.7  3.0  6.1  2.3
109  7.2  3.6  6.1  2.5
107  7.3  2.9  6.3  1.8
131  7.9  3.8  6.4  2.0
105  7.6  3.0  6.6  2.1
117  7.7  3.8  6.7  2.2
122  7.7  2.8  6.7  2.0
118  7.7  2.6  6.9  2.3

[150 rows x 4 columns]

# 1. Split the dataset into two halves

In [93]:
df = np.split(iris, [2], axis=1)

In [94]:
df[0]

       0    1
0    5.1  3.5
1    4.9  3.0
2    4.7  3.2
3    4.6  3.1
4    5.0  3.6
5    5.4  3.9
6    4.6  3.4
7    5.0  3.4
8    4.4  2.9
9    4.9  3.1
10   5.4  3.7
11   4.8  3.4
12   4.8  3.0
13   4.3  3.0
14   5.8  4.0
15   5.7  4.4
16   5.4  3.9
17   5.1  3.5
18   5.7  3.8
19   5.1  3.8
20   5.4  3.4
21   5.1  3.7
22   4.6  3.6
23   5.1  3.3
24   4.8  3.4
25   5.0  3.0
26   5.0  3.4
27   5.2  3.5
28   5.2  3.4
29   4.7  3.2
..   ...  ...
120  6.9  3.2
121  5.6  2.8
122  7.7  2.8
123  6.3  2.7
124  6.7  3.3
125  7.2  3.2
126  6.2  2.8
127  6.1  3.0
128  6.4  2.8
129  7.2  3.0
130  7.4  2.8
131  7.9  3.8
132  6.4  2.8
133  6.3  2.8
134  6.1  2.6
135  7.7  3.0
136  6.3  3.4
137  6.4  3.1
138  6.0  3.0
139  6.9  3.1
140  6.7  3.1
141  6.9  3.1
142  5.8  2.7
143  6.8  3.2
144  6.7  3.3
145  6.7  3.0
146  6.3  2.5
147  6.5  3.0
148  6.2  3.4
149  5.9  3.0

[150 rows x 2 columns]

In [95]:
df[1]

       2    3
0    1.4  0.2
1    1.4  0.2
2    1.3  0.2
3    1.5  0.2
4    1.4  0.2
5    1.7  0.4
6    1.4  0.3
7    1.5  0.2
8    1.4  0.2
9    1.5  0.1
10   1.5  0.2
11   1.6  0.2
12   1.4  0.1
13   1.1  0.1
14   1.2  0.2
15   1.5  0.4
16   1.3  0.4
17   1.4  0.3
18   1.7  0.3
19   1.5  0.3
20   1.7  0.2
21   1.5  0.4
22   1.0  0.2
23   1.7  0.5
24   1.9  0.2
25   1.6  0.2
26   1.6  0.4
27   1.5  0.2
28   1.4  0.2
29   1.6  0.2
..   ...  ...
120  5.7  2.3
121  4.9  2.0
122  6.7  2.0
123  4.9  1.8
124  5.7  2.1
125  6.0  1.8
126  4.8  1.8
127  4.9  1.8
128  5.6  2.1
129  5.8  1.6
130  6.1  1.9
131  6.4  2.0
132  5.6  2.2
133  5.1  1.5
134  5.6  1.4
135  6.1  2.3
136  5.6  2.4
137  5.5  1.8
138  4.8  1.8
139  5.4  2.1
140  5.6  2.4
141  5.1  2.3
142  5.1  1.9
143  5.9  2.3
144  5.7  2.5
145  5.2  2.3
146  5.0  1.9
147  5.2  2.0
148  5.4  2.3
149  5.1  1.8

[150 rows x 2 columns]

# 7. Create a lambda function and change the type of one column of each dataset

In [117]:
print(iris)

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
5    5.4  3.9  1.7  0.4
6    4.6  3.4  1.4  0.3
7    5.0  3.4  1.5  0.2
8    4.4  2.9  1.4  0.2
9    4.9  3.1  1.5  0.1
10   5.4  3.7  1.5  0.2
11   4.8  3.4  1.6  0.2
12   4.8  3.0  1.4  0.1
13   4.3  3.0  1.1  0.1
14   5.8  4.0  1.2  0.2
15   5.7  4.4  1.5  0.4
16   5.4  3.9  1.3  0.4
17   5.1  3.5  1.4  0.3
18   5.7  3.8  1.7  0.3
19   5.1  3.8  1.5  0.3
20   5.4  3.4  1.7  0.2
21   5.1  3.7  1.5  0.4
22   4.6  3.6  1.0  0.2
23   5.1  3.3  1.7  0.5
24   4.8  3.4  1.9  0.2
25   5.0  3.0  1.6  0.2
26   5.0  3.4  1.6  0.4
27   5.2  3.5  1.5  0.2
28   5.2  3.4  1.4  0.2
29   4.7  3.2  1.6  0.2
..   ...  ...  ...  ...
120  6.9  3.2  5.7  2.3
121  5.6  2.8  4.9  2.0
122  7.7  2.8  6.7  2.0
123  6.3  2.7  4.9  1.8
124  6.7  3.3  5.7  2.1
125  7.2  3.2  6.0  1.8
126  6.2  2.8  4.8  1.8
127  6.1  3.0  4.9  1.8
128  6.4  2.8  5.6  2.1
129  7.2  3.0  5.8  1.6
130  7.4  2.8  6.1  1.9
131  7.9  3.8  6.4  2.0
132  6.4  2.8  5.6  2.2
133  6.3  2.8  5.1  1.5
134  6.1  2.6  5.6  1.4
135  7.7  3.0  6.1  2.3
136  6.3  3.4  5.6  2.4
137  6.4  3.1  5.5  1.8
138  6.0  3.0  4.8  1.8
139  6.9  3.1  5.4  2.1
140  6.7  3.1  5.6  2.4
141  6.9  3.1  5.1  2.3
142  5.8  2.7  5.1  1.9
143  6.8  3.2  5.9  2.3
144  6.7  3.3  5.7  2.5
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [132]:
iris[2] = iris.apply(lambda x: iris[3])

In [133]:
print(iris)

       0    1    2    3
0    5.1  3.5  0.2  0.2
1    4.9  3.0  0.2  0.2
2    4.7  3.2  0.2  0.2
3    4.6  3.1  0.2  0.2
4    5.0  3.6  0.2  0.2
5    5.4  3.9  0.4  0.4
6    4.6  3.4  0.3  0.3
7    5.0  3.4  0.2  0.2
8    4.4  2.9  0.2  0.2
9    4.9  3.1  0.1  0.1
10   5.4  3.7  0.2  0.2
11   4.8  3.4  0.2  0.2
12   4.8  3.0  0.1  0.1
13   4.3  3.0  0.1  0.1
14   5.8  4.0  0.2  0.2
15   5.7  4.4  0.4  0.4
16   5.4  3.9  0.4  0.4
17   5.1  3.5  0.3  0.3
18   5.7  3.8  0.3  0.3
19   5.1  3.8  0.3  0.3
20   5.4  3.4  0.2  0.2
21   5.1  3.7  0.4  0.4
22   4.6  3.6  0.2  0.2
23   5.1  3.3  0.5  0.5
24   4.8  3.4  0.2  0.2
25   5.0  3.0  0.2  0.2
26   5.0  3.4  0.4  0.4
27   5.2  3.5  0.2  0.2
28   5.2  3.4  0.2  0.2
29   4.7  3.2  0.2  0.2
..   ...  ...  ...  ...
120  6.9  3.2  2.3  2.3
121  5.6  2.8  2.0  2.0
122  7.7  2.8  2.0  2.0
123  6.3  2.7  1.8  1.8
124  6.7  3.3  2.1  2.1
125  7.2  3.2  1.8  1.8
126  6.2  2.8  1.8  1.8
127  6.1  3.0  1.8  1.8
128  6.4  2.8  2.1  2.1
129  7.2  3.0  1.6  1.6
130  7.4  2.8  1.9  1.9
131  7.9  3.8  2.0  2.0
132  6.4  2.8  2.2  2.2
133  6.3  2.8  1.5  1.5
134  6.1  2.6  1.4  1.4
135  7.7  3.0  2.3  2.3
136  6.3  3.4  2.4  2.4
137  6.4  3.1  1.8  1.8
138  6.0  3.0  1.8  1.8
139  6.9  3.1  2.1  2.1
140  6.7  3.1  2.4  2.4
141  6.9  3.1  2.3  2.3
142  5.8  2.7  1.9  1.9
143  6.8  3.2  2.3  2.3
144  6.7  3.3  2.5  2.5
145  6.7  3.0  2.3  2.3
146  6.3  2.5  1.9  1.9
147  6.5  3.0  2.0  2.0
148  6.2  3.4  2.3  2.3
149  5.9  3.0  1.8  1.8

[150 rows x 4 columns]

# 10.  Find missing values if any

In [136]:
iris.isnull().any().any()

False